.videocontainer {
        margin: 0 auto;
        display: block;
        padding: 0px;
}

p {
        margin: 22px;
        font-size: 13.2px;
}
.highlight {
        background-color: yellow;
}



/*Media Queries*/

@media screen and (min-width: 768px) {
        p {
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
        }
        .videocontainer {
                max-width: 600px;
                max-height: 600px;
                padding: 20px;
        }
}



